<ion-view view-title="Images">
  <ion-content padding="true">

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/pro1.png">
        <h2>Marty McFly</h2>
        <p>November 05, 2016</p>
      </div>

      <div class="item item-body">
        <img class="list-img" src="img/1.jpg" width="100%"/>
        <p>
          It's really an awesome place. You will never be happy as I am right now.
        </p>
        <p>
          <a href="#" class="subdued">130 Like</a>
        </p>
      </div>

    </div>


    <div class="list card">

      <div class="item item-avatar">
        <img src="img/pro2.gif">
        <h2>Marty McFly</h2>
        <p>November 05, 2016</p>
      </div>

      <div class="item item-body">
        <img class="list-img" src="img/5.jpg" width="100%"/>
        <p>
          It's really an awesome place. You will never be happy as I am right now.
        </p>
        <p>
          <a href="#" class="subdued">130 Like</a>
        </p>
      </div>

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/pro2.gif">
        <h2>Mr. Been</h2>
        <p>May 05, 2016</p>
      </div>

      <div class="item item-body">
        <img class="list-img" src="img/3.jpg" width="100%"/>
        <p>
          Feeling awesome.
        </p>
        <p>
          <a href="#" class="subdued">1500 Like</a>
        </p>
      </div>

    </div>



    <div class="list card">

      <div class="item item-avatar">
        <img src="img/pro2.gif">
        <h2>Bin Truman</h2>
        <p>April 05, 2016</p>
      </div>

      <div class="item item-body">
        <img class="list-img" src="img/4.jpg" width="100%"/>
        <p>
          Rio De Janeiro's Christ The Redeem...
        </p>
        <p>
          <a href="#" class="subdued">721 Like</a>
        </p>
      </div>

    </div>



    <div class="list card">

      <div class="item item-avatar">
        <img src="img/pro2.gif">
        <h2>Clint Mc</h2>
        <p>February 15, 2016</p>
      </div>

      <div class="item item-body">
        <img class="list-img" src="img/2.jpg" width="100%"/>
        <p>
          It's really an awesome place. You will never be happy as I am right now.
        </p>
        <p>
          <a href="#" class="subdued">125 Like</a>
        </p>
      </div>

    </div>


  </ion-content>
</ion-view>
