<ion-view>
  <ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">

    <ion-tab title="Wall" icon="icon ion-home" ui-sref="app.home.wall">
      <ion-nav-view name="wal"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Favourite" icon="icon ion-star" ui-sref="app.home.fav">
      <ion-nav-view name="favo"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Settings" icon="icon ion-gear-a" ui-sref="app.home.settings">
      <ion-nav-view name="sett"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
