<ion-view view-title="Wall">
  <ion-content>


    <div class="list card">

      <div class="item item-avatar">
        <img src="img/pro2.gif">
        <h2>Mr. Nobody</h2>
        <p>November 05, 2016</p>



      </div>
      <div class="item item-text-wrap">
        <b>A Poem at Rio</b><br>
        Everyone wants to be a hero <br>
        everyone wants to be Deniro.<br>
        But how many would go absolute zero<br>
        die for strangers in rio de janeiro.<br>

        If this is what i must live with<br>
        Ill never take it to be a myth<br>
        or do a way with<br>
        I'll just stay there till someone does something about it.<br>
        someone like you or I and either you or I.<br>
      </div>

    </div>

    <div class="list card">

      <div class="item item-avatar">
        <img src="img/pro1.png">
        <h2>Marty McFly</h2>
        <p>November 05, 2016</p>



      </div>
      <div class="item item-text-wrap">

        <b>a beautiful day</b><br>
        a light day becomes so beautiful in every<br>
        beautiful way<br>
        i said my ceizar i would forever stay by your side<br><br>

        each night that turns<br>
        each day the become so real in your eyes so beautiful so bright<br>
        like the moons light the stary night<br><br>

        rain gentle fall over the beautiful Rio DE janeiro shore<br>
        where you and me will rest forever more<br><br>

        my ceizar you are my forever cure<br><br>

        EU Te amo ceizar of Duncan
      </div>

    </div>


  </ion-content>
</ion-view>
