<ion-view view-title="Chat Room">
  <ion-content padding="true">
    <div class="list">

      <a class="item item-avatar" href="#">
        <img src="img/pro1.png">
        <h2>Back off, man. I'm a scientist.</h2>
        <p style="color:lightgray">Marty McFly</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/pro1.png">
        <h2>Ugly little spud, isn't he?</h2>
        <p style="color:lightgray">Marty McFly</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/pro2.gif">
        <h2>I am The Gatekeeper!</h2>
        <p style="color:lightgray">Mr. Nobody</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/pro1.png">
        <h2>I don't know what to say.</h2>
        <p style="color:lightgray">Marty McFly</p>
      </a>


      <a class="item item-avatar" href="#">
        <img src="img/pro2.gif">
        <h2>Lol.</h2>
        <p style="color:lightgray">Hanz Peris</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/pro2.gif">
        <h2>We're gonna go full stream.</h2>
        <p style="color:lightgray">Ted Detora</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/pro1.png">
        <h2>Back off, man. I'm a scientist.</h2>
        <p style="color:lightgray">Marty McFly</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/pro1.png">
        <h2>Ugly little spud, isn't he?</h2>
        <p style="color:lightgray">Marty McFly</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/pro2.gif">
        <h2>I am The Gatekeeper!</h2>
        <p style="color:lightgray">Mr. Nobody</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/pro1.png">
        <h2>I don't know what to say.</h2>
        <p style="color:lightgray">Marty McFly</p>
      </a>


      <a class="item item-avatar" href="#">
        <img src="img/pro2.gif">
        <h2>Lol.</h2>
        <p style="color:lightgray">Hanz Peris</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/pro2.gif">
        <h2>We're gonna go full stream.</h2>
        <p style="color:lightgray">Ted Detora</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/pro1.png">
        <h2>Back off, man. I'm a scientist.</h2>
        <p style="color:lightgray">Marty McFly</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/pro1.png">
        <h2>Ugly little spud, isn't he?</h2>
        <p style="color:lightgray">Marty McFly</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/pro2.gif">
        <h2>I am The Gatekeeper!</h2>
        <p style="color:lightgray">Mr. Nobody</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/pro1.png">
        <h2>I don't know what to say.</h2>
        <p style="color:lightgray">Marty McFly</p>
      </a>


      <a class="item item-avatar" href="#">
        <img src="img/pro2.gif">
        <h2>Lol.</h2>
        <p style="color:lightgray">Hanz Peris</p>
      </a>

      <a class="item item-avatar" href="#">
        <img src="img/pro2.gif">
        <h2>We're gonna go full stream.</h2>
        <p style="color:lightgray">Ted Detora</p>
      </a>

    </div>




  </ion-content>
</ion-view>
