/* Empty. Add your own CSS if you like */


.bar
{
  background-color: #007aff!important;
  color: #ffffff!important;
}

.bar .title.title-left {

  color: white!important;
}

.button
{
  color: white!important;;
}
